auto-save-list/
eln-cache/
elpa/
emms/
etc/
emojis/
eshell/
devdocs-browser/
image-dired/
straight/
transient/
var/
request/
url/
webkit/
projects/
finito/
bookmarks/
.cache/
lisp/private.el
custom.el
.lsp-session*
recentf
session.*
tramp
bookmarks
projects