# in /usr/share/xsessions/emacs.desktop
[Desktop Entry]
Name=EXWM
Comment=Emacs is awesome!
Exec=dbus-launch --exit-with-session emacs --fullscreen
#Exec=emacs
Type=application